---
Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -*-magic-numbers,
  -*-avoid-c-arrays,
  -*-braces-around-statements,
  -*-non-private-member-variables-in-classes,
  -*-vararg,
  -hicpp-no-array-decay,
  -hicpp-special-member-functions,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -modernize-raw-string-literal,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,"
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: 'file'
