*~
**.o
**.d
**.so
**.root
*.xml
*.pcm
**.png
**.log
**/other/
backup/
.vscode/
**/test/
*.svg
output/
**/test*/
**.out
**/attempts/
**/slurm_logs/
task/exec.sh
.env
slurm/
doc/**.md
doc/**_TEST.txt
config/
looper_**/
