*~
**.o
**.d
**.so
**.root
*.xml
*.pcm
**.png
**.log
**/other/
**/backup/
**/.vscode/
**/test/
*.svg
**/output/
**/output*/
**/test*/
**/__pycache__/
**.out
**/attempts/
**/slurm_logs/
**/set_paths.sh
**/doc/dir_numbers/
**/task/exec.sh
**/scripts/seff_all.sh
**/RUN3
**/sexaquark
**/ilya
